.header-bottom{
    width: 1280px;
    background-image: url(../../images/Object.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 45px;
}

.header-bottom__div{
    width: 485px;
    padding-top: 137px;
    padding-bottom: 137px;
    padding-left: 85px;
   
}

.header-bottom__title{
    font-family: $second-family-Fraunces, sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: $main-color;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.header-bottom__text{
    font-family: $main-family-Barlow, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $main-color;
}