.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 44px;
}

.logo:hover{
    opacity: 0.8;
}

.header-top__list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 283px;
    margin: 0;
    padding: 0;
}

.header-top__link{
    text-decoration: none;
    font-family: $main-family-Barlow, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #83888F;
}

.header-top__link:hover{
    color: #333D4B;
}