.quality{
    display: flex;
    width: 1280px;
    height: 764px;
    background-image: url(../../images/qualitybg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 85px;
    margin-top: 120px;
}

.quality__div{
    width: 540px;
    margin-top: 258px;
    padding:0;
}

.quality__title{
    font-family: $second-family-Fraunces, sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #FEFCF7;
    margin: 0;
    padding: 0;
}

.quality__text{
    font-family: $main-family-Barlow, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FEFCF7;
    margin-top: 32px;
    padding: 0;
}

.quality__image{
    width: 445px;
    height: 474px;
    margin-left: 92px;
}